<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header"></header>
<div class="container mt-5 mb-5">
    <h1>Add</h1>
    <form action="/add" method="post">
        <input type="text" placeholder="Enter the name of pill" name="name" class="form-control"><br>
        <textarea placeholder="Enter the description of pill" name="description" class="form-control"></textarea><br>
        <input type="text" placeholder="Enter the form of pill" name="form" class="form-control"><br>
        <input type="date" placeholder="Shelf life" name="date" class="form-control"><br>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<div th:insert="blocks/footer"></div>
</body>
</html>